body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: cyan;
}
section{
    display: flex;
}
.name-color{
    color: #603786;
}
.half-width{
    width: 50%;
    padding-left: 6%;
    
}
div img{
    width: 85%;
}
.link-btn{
    text-decoration: none;
    color:cornsilk;
    background-image: linear-gradient(#01016e, #4141f1);
     padding: 10px 50px;
    border-radius: 7px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}